In [4]:
print('opa')

opa

# Aula 1

## Tipos de Variaveis 

 [ _ Type( )_ ]

In [5]:
idade = 30
idade

30

In [2]:
type(idade)

int

In [3]:
idade = 'Estatística'

In [4]:
type(idade)

str

## Operadores Aritmeticos 

_Relembrar Depois_

# Coleções :

##  _Listas_

### Verificando presença de um item

In [10]:
s = [ 1, 2, -1]
2 in s

True

### Concatenando Listas

In [12]:
s1 = [1,2]
s2 = [2,1]

s1 + s2

[1, 2, 2, 1]

In [13]:
s1 * 2

[1, 2, 1, 2]

In [15]:
s2 * 2

[2, 1, 2, 1]

In [16]:
### Acessabndo elementos em uma lista

In [17]:
s[0]

1

In [18]:
### Acessando elementos em uma lista por 'fatias'

In [25]:
a = [1,3,8,34,2,8]

a[0:5]

[1, 3, 8, 34, 2]

**obj[PRIMEIRO_TERMO:FINAL_EXCLUSIVO:TAMANHO_DO_PASSO]**

In [29]:
a[::3]

[1, 34]

#### Indice negativo

In [34]:
a[::]

[1, 3, 8, 34, 2, 8]

In [36]:
a[-1::-1]

[8, 2, 34, 8, 3, 1]


### Modificando a lista

In [41]:
a[1:3] = [2,8]
a

[1, 2, 8, 34, 2, 8]

In [43]:
del a[1:3]
a

[1, 8]

In [44]:
a.append(100)
a

[1, 8, 100]

In [48]:
a.insert(2, 15)
a

[1, 8, 15, 100]

In [49]:
a.extend([1,2])
a

[1, 8, 15, 100, 1, 2]


## _Tuplas_

In [51]:
c = 2,'deu certo'

In [52]:
type(c)

tuple

In [53]:
c

(2, 'deu certo')


## Intervalos

In [55]:
range(0,10)

range(0, 10)

### Sample Exemple :

In [72]:
for i in range(0, 10):
    print('{}'.format(i+1))

1
2
3
4
5
6
7
8
9
10

## Textos

In [75]:
print('nesse caso, as aspas "internas" devem ser duplas')

nesse caso, as aspas "internas" devem ser duplas

In [81]:
'Estatística'[2]

't'

In [82]:
'Estatística'[2::-1]

'tsE'


#### Verificando a Presença de Caracteres

In [85]:

'Est' in 'Estatistica'

False

In [86]:
'Est' not in 'Estatistica'

False

In [87]:
'Ciência ' + 'de ' + 'Dados '

'Ciência de Dados '

In [88]:
'Ciência '  'de '  'Dados '

'Ciência de Dados '


### Formatando Strings

In [96]:
for i in range(0, 10):
    s = 'Média {}, Variância: {}'.format(i-1,i)
    print(s)

Média -1, Variância: 0
Média 0, Variância: 1
Média 1, Variância: 2
Média 2, Variância: 3
Média 3, Variância: 4
Média 4, Variância: 5
Média 5, Variância: 6
Média 6, Variância: 7
Média 7, Variância: 8
Média 8, Variância: 9

In [99]:
'Média: {mean}, Variância: {var: .2f}'.format(mean = 2.567, var = 1).split(sep = '@ ')

['Média: 2.567, Variância:  1.00']

In [101]:
'Média: 1, Variancia: 4'.replace(':', '=', 1)

'Média= 1, Variancia: 4'

In [102]:
'Estatística'.find('t')

2

In [104]:
'Estatistica'[3:7].find('t')

1


## Conjuntos

In [110]:
type({1,2,3})

set

In [112]:
s1 = {1, 2}
s2 = {1, 2, 3, 4 ,5}

s1 <= s2

True


### Com mais conjuntos

In [114]:
S1 = {1, 2, 3}
S2 = {2, 3, 4}
S3 = {5, 3, 4}

S1 | S2 | S3

{1, 2, 3, 4, 5}


## Variaveis Tipo Dic (DICIONARIOS)

In [117]:

{'Bea': 10, 'Silvestre': 10, 'Amanda': 10, 'Manel': 10}

{'Bea': 10, 'Silvestre': 10, 'Amanda': 10, 'Manel': 10}


## Coleções de Coleções

In [120]:

distributions = {
    'Gaussian': {
        'mean': 0,
        'variance': 1
    },
    'Beta':{
        'alfa': 1,
        'beta': 1
    }
}

distributions['Gaussian']['variance']

1

In [122]:
area = 3.14 * 2**2
area

12.56

In [127]:
n = int(input('informe um numero'))

informe um numero4

In [128]:
type(n)

int

In [129]:
a = [[2,3], [4,2]]
b = [[2,0], [1,2]]

### Depois resolver essa questão